.cards {

    display: grid;

     grid-template-columns:
        repeat(auto-fit, minmax(260px, 320px));

    justify-content: center;

    gap: 30px;

    padding: 50px 30px;
}

.card{
    position: relative;

    overflow: hidden;

    border: 1px solid rgba(255,255,255,.05);

    background:
        linear-gradient(
            145deg,
            rgba(255,255,255,.03),
            rgba(255,255,255,.01)
        );

    backdrop-filter: blur(10px);

    border-radius: 20px;

    padding: 30px;


    box-shadow: 0 10px 30px rgba(0,0,0,0.2);

    transition:
        transform .4s ease,
        box-shadow .4s ease,
        border-color .4s ease;
}


.card:hover {
    transform: translateY(-10px);

    border-color: rgba(214,185,140,0.3);

    box-shadow:
        0 20px 40px rgba(0,0,0,0.35),
        0 0 20px rgba(214,185,140,0.08);
}

.card::before{

    content: "";

    position: absolute;

    top: -50%;
    left: -120%;

    width: 100px;
    height: 220%;
    

    background:
        rgba(255,255,255,.05);

    transform: rotate(25deg);

    transition:
    left .7s ease;
}

.card:hover::before{
    left: 150%;
}

.card span{
    font-size: 2.5rem;

    /* color: var(--cor-secundaria); */

    transition:
        transform .3s ease;
    
    display: block;

    margin-bottom: 20px;

}

.card:hover span{
    transform: scale(1.1);
}

.card h3{
    
    margin: 20px 0 10px;
    
    font-size: 1.4rem;
    
    color: var(--cor-secundaria);
}

.card p {
    color: #cfcfcf;

    opacity: .8;

}

.card img{
    transition: transform .4s ease;
}

.card:hover img{
    transform: scale(1.05);
}

