/* .especiais
.galeria
.item-galeria
.item-galeria:hover
.item-galeria img
.info-galeria
.info-galeria h3 */


.galeria{

    display: grid;

    grid-template-columns:
        repeat(auto-fit, minmax(280px, 350px));

    justify-content: center;

    gap: 30px;
}

.item-galeria.hide{

    opacity: 0;

    transform: scale(.9);

    pointer-events: none;

    display: none;
}

.item-galeria {
    background: #1b1b1b;

    border-radius: 20px;

    overflow: hidden;

    border: 1px solid rgba(255,255,255,0.05);

    transition:
        opacity .4s ease,
        transform .4s ease;
    

    position: relative;
}

.item-galeria::before {

    content: '';

    position: absolute;

    inset: 0;

    background:
    linear-gradient(
        to top,
        rgba(0,0,0,0.6),
        transparent
    );

    opacity: 0;

    transition: 0.4s ease;

    z-index: 1;
}

.item-galeria:hover::before {
    opacity: 1;
}

.item-galeria:hover {
    transform: translateY(-10px);

    border-color: rgba(214,185,140,0.3);

    box-shadow: 0 20px 40px rgba(0,0,0,0.35);
}

.item-galeria img {

    width: 100%;

    height: 250px;

    object-fit: cover;

    transition:
    transform 0.5s ease,
    filter 0.5s ease;
}

.item-galeria:hover img {

    transform: scale(1.08);

    filter: brightness(0.8);
}

.info-galeria {
    padding: 25px;
    
    position: relative;

    z-index: 2;
}

.info-galeria h3 {
    color: var(--cor-secundaria);

    margin-bottom: 15px;
}


