.logo {
    font-size: 32px;

    font-weight: bold;

    letter-spacing: 1px;

    color: var(--cor-secundaria);

    cursor: pointer;

}

header {
    display: flex;

    justify-content: space-between;

    align-items: center;

    border-bottom: 1px solid rgba(255,255,255,0.05);

    box-shadow: 0 10px 30px rgba(0,0,0,0.2);

    backdrop-filter: blur(18px);

    padding: 20px 60px;

    background: rgba(10,10,10,0.7);

    position: sticky;

    top: 0;

    z-index: 1000;
}

header.scrolled {

    padding: 14px 60px;

    background: rgba(5,5,5,0.92);

    box-shadow:
    0 10px 30px rgba(0,0,0,0.35);

    transition:
        padding 0.3s ease,
        background 0.3s ease,
        box-shadow 0.3s ease;
}


nav {
    display: flex;

    align-items: center;

    gap: 20px;
}

nav a {
    text-decoration: none;

    color: var(--cor-texto);

    transition: 0.3s;

    padding: 2px 2px;

    font-weight: 500;

    position: relative;
}

nav a:hover {
    color: var(--cor-secundaria);

    transform: scale(1.05);
}

nav a::after {
    content: '';

    position: absolute;

    left: 0;

    bottom: -6px;

    width: 0%;

    height: 2px;

    background: var(--cor-secundaria);

    transition: 0.3s ease;
}

nav a:hover::after {
    width: 100%;
}


nav a.active {
    
    color: var(--cor-secundaria);
}

nav a.active::after {
    width: 100%;
}

.menu-mobile {
    display: none;

    flex-direction: column;

    gap: 6px;

    cursor: pointer;
}

.menu-mobile span {
    width: 28px;

    height: 2px;

    background: var(--cor-texto);

    transition: 0.3s ease;
}

