@media(max-width: 768px) {

    header {
        flex-direction: column;

        align-items: center;

        gap: 20px;

        margin-bottom: 40px;
        
        padding: 20px;
    }

    nav {
        position: fixed;
        top: 0;
        right: 0;

        width: 250px;
        height: 100vh;

        background: #111;

        display: flex;
        flex-direction: column;

        padding-top: 100px;

        transform: translateX(100%);
        transition: transform .3s ease;

        z-index: 999;
    }

    nav.active {
        transform: translateX(0);
    }
    
    h1.logo{
        min-width: 40px;

        width: 100px;

        padding-bottom: 20px;

        text-align: center;

        font-size: 18px;
        
    }

    button {
        min-height: 40px;
    }

    main {
        padding: 40px 20px;
    }

    .hero {
        flex-direction: column;

        text-align: center;

        justify-content: center;
    }

    .hero h2 {
        font-size: 42px;
    }

    .hero-botoes {
        justify-content: center;
    }

    h2 {
        font-size: 20px;
    }

    .card,
    .depoimento {
        width: 100%;
    }

    section {
        margin-bottom: 80px;
    }

    .cta-final {
        padding: 60px 20px;
    }

    .cta-final h2 {
        font-size: 38px;
    }

    .footer {

        padding: 60px 20px 30px;
    }

    .menuToggle {
        position: relative;
        width: 30px;
        cursor: pointer;

        display: flex;
        flex-direction: column;
        gap: 6px;

        z-index: 1001;
    }

    .menuToggle span {
        width: 100%;
        height: 3px;

        background: white;

        transition: 0.3s;
    }

    .menuToggle.active span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .menuToggle.active span:nth-child(2) {
        opacity: 0;
    }

    .menuToggle.active span:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -7px);
    }

    .no-scroll {
        overflow: hidden;
    }

    .overlay.active {
        opacity: 1;
        pointer-events: auto;
    }

   .modal-box{

        width: 95%;

        padding: 1.5rem;

        height: auto;

    }

    .modal-box h2{

        font-size: 2rem;
        line-height: 1.1;

        overflow-wrap: break-word;

    }

    .modal-box input, 
    .modal-box button {
        padding: 0.6rem;
        width: 100%;    

    }
}